.container {
    /*background-color: #ffdc82;*/
    background-color: #f0f8ff;
    position: fixed;
    margin-left: 300px;
    width: 1065px;
    height: 550px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}