body {
    background-color: #F0F0F0;
}

h2 {
    font-size: 40px;
    color: #7268e5;
}

.header h3 a {
    float: right;
    margin-top: -50px;
    cursor: pointer;
    color: #7268e5;
    font-size: 25px;
    text-decoration: none;
}

.block {
    display: flex;
    width: 100%;
    border: solid white 2px;
    border-radius: 10px;
}

.block label {
    font-size: 20px;
    font-weight: bold;
}

.semi-block {
    margin-left: 200px;
}

.semi-block select {
    margin-left: 20px;
    width: 300px;
    height: 40px;
}

.edit-class {
    background-color: white;
    height: 600px;
    border-radius: 10px;
}

.edit-table table thead tr th {
    padding: 20px;
    width: 700px;
    border-top: solid white 2px;
    border-right: solid white 2px;
}


/* .edit-table table tbody tr td input {
    background-color: black;
} */

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}

.edit-table table tbody tr td {
    padding: 30px;
    width: 700px;
    /*border-top: solid grey 2px;
    border-right: solid grey 2px;*/
}

table tbody tr td {
    padding: 30px;
    width: 700px;
    border-top: solid white 2px;
    border-right: solid white 2px;
}

#type1 {
    background-color: #ffdc82;
}

#type2 {
    background-color: #7268e580;
}

.edit-table table tbody tr td select option {
    width: 200px;
    height: 30px;
    color: blue;
}

.bttons h3 {
    padding: 20px;
    color: #ffdc82;
}

.generate-table {
    width: fit-content;
    height: fit-content;
}


/*
#ffdc82


#ff3880

#7268e5
*/