body {
    font-family: 'Roboto', sans-serif;
    /* overflow-y: scroll; */
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navbar-header {
    height: 80px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #7268e5;
    user-select: none;
}

.side-nav {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0px;
    /*background: #063146;*/
    background: #7268e5;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    /*overflow-y: auto;*/
    padding: 10px;
}

.side-nav-content li {
    margin: 0px;
    border: none;
    padding: 5px;
    width: 200px;
    height: 100px;
    cursor: pointer;
    background-color: #7268e5;
}

.side-nav-content li a {
    border: none;
    display: block;
    height: 10px;
    width: 10px;
    font-size: 20px;
    color: #ffdc82;
    padding-left: 40px;
    padding: 10px;
    /* box-sizing: border-box;
    border-top: 1px solid rgba(252, 252, 252, 0.1);
    border-bottom: 1px solid black; */
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

i {
    margin: 1px;
}


/*#wrapper {}*/